{{!
    @template local_rapidcmi5/player_versions

    Template for the player versions admin page.
}}
<div class="local-rapidcmi5-player-versions">

    {{#hasversions}}
    <div class="rcmi-table-panel table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">{{#str}}version, local_rapidcmi5{{/str}}</th>
                <th scope="col">SHA256</th>
                <th scope="col">{{#str}}dashboardfiles, local_rapidcmi5{{/str}}</th>
                <th scope="col">{{#str}}packages, local_rapidcmi5{{/str}}</th>
                <th scope="col">{{#str}}created, local_rapidcmi5{{/str}}</th>
                <th scope="col">{{#str}}versionstatus, local_rapidcmi5{{/str}}</th>
                <th scope="col">{{#str}}actions, local_rapidcmi5{{/str}}</th>
            </tr>
        </thead>
        <tbody>
            {{#versions}}
            <tr{{#islatest}} class="table-active"{{/islatest}}>
                <td>{{version}}</td>
                <td><code>{{sha256hash}}</code></td>
                <td>{{filecount}}</td>
                <td>{{packagecount}}</td>
                <td>{{timecreated}}</td>
                <td>
                    {{#islatest}}
                    <span class="badge badge-success">{{#str}}currentplayerversion, local_rapidcmi5{{/str}}</span>
                    {{/islatest}}
                </td>
                <td>
                    {{#canupgrade}}
                    <form method="post" action="{{{upgradeallurl}}}" class="rcmi-inline-form"
                          onsubmit="return confirm('{{#str}}upgradeallconfirm, local_rapidcmi5{{/str}}');">
                        <input type="hidden" name="action" value="upgradeall">
                        <input type="hidden" name="oldplayerid" value="{{id}}">
                        <input type="hidden" name="sesskey" value="{{sesskey}}">
                        <input type="hidden" name="returnurl" value="{{{returnurl}}}">
                        <button type="submit" class="btn btn-sm btn-warning">
                            {{#str}}upgradeall, local_rapidcmi5{{/str}}
                        </button>
                    </form>
                    {{/canupgrade}}
                </td>
            </tr>
            {{/versions}}
        </tbody>
    </table>
    </div>
    {{/hasversions}}

    {{^hasversions}}
    <div class="alert alert-info rcmi-empty-state">{{#str}}noplayerversions, local_rapidcmi5{{/str}}</div>
    {{/hasversions}}
</div>
