{{!
    @template local_rapidcmi5/update_badge

    Small badge shown on course page for activities with available updates.
}}
<span class="badge badge-warning ml-2" title="{{tooltip}}">
    {{#str}}updateavailable, local_rapidcmi5{{/str}}
</span>
